<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title PM List
    script(defer src="script.js")
    link(rel="stylesheet", href="style.css")

  body
    .app
      header.header
        h1 PM List
        div
          | Title:
          input.title(type="text" value="pmlist")
          button.set-name Set
          br
          button.reset Reset

        ul.saved-lists.w-fit

      input#show-unchecked(type="checkbox" checked)
      label(for="show-unchecked") 未選

      main.list

      hr

      footer.footer
        button.export export
        br
        a.export-link(href="#") export link

      aside.aside
        ul.w-fit
          li
            a(href="https://www.facebook.com/events/367982723746778/") 意見迴饋區 @ FB
          li
            a(href="https://github.com/Rplus/pm-list") GitHub repo
