:root {
  --iv-percentage: 100;
  --sprite-grid-col: 31;
  --sprite-grid-row: 21;
  --img-size: 80px;
  --pm-sort-by: var(--pm-pokedex);
  --pm-sort-dir: -1;
}

body {
  margin: 0 10px;
  overflow: scroll;
}

button {
  font-family: monospace;
}

.app {
  text-align: center;
}

.w-fit {
  text-align: left;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.saved-lists {
  margin: 2em auto;
  list-style-type: square;
}

.list {
  text-align: center;
  font-size: 0;
}

.pm {
  position: relative;
  width: 110px;
  height: 110px;
  display: inline-block;
  box-shadow: inset 0 0 1px;
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  color: #999;

  &::before {
    content: '#';
    color: #ccc;
  }

  &::after {
    content: '';
    position: absolute;
    width: var(--img-size);
    height: var(--img-size);
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto;
    background-image: url(./sprite1-5.png);
    background-size:
      calc(var(--sprite-grid-col) * var(--img-size))
      calc(var(--sprite-grid-row) * var(--img-size));
    background-repeat: no-repeat;
    background-position:
      calc(var(--pm-col) * var(--img-size) * -1)
      calc(var(--pm-row) * var(--img-size) * -1);
  }

  &[data-state="1"] {
    background-color: #ffc;
  }

  &[data-dex="808"]::after {
    background-image: url('./808.png');
    background-position: 50% 50%;
    background-size: cover;
  }

  &[data-dex="809"]::after {
    background-image: url('./809.png');
    background-position: 50% 50%;
    background-size: cover;
  }
}

.export-link {
  &::before { content: '< '; }
  &::after { content: ' >'; }
}

.footer {
  margin-top: 2em;
  margin-bottom: 3em;
}

#show-unchecked {
  display: none;
}

#show-unchecked:not(:checked) {
  ~ .list .pm[data-state="0"] {
    display: none;
  }

  ~ label[for="show-unchecked"] {
    &::before {
      border-color: transparent;
      opacity: 0.5;
    }
    &::after {
      border-color: #aaa;
      opacity: 1;
    }
  }
}

label[for="show-unchecked"] {
  &::before,
  &::after {
    position: absolute;
    width: max-content;
    padding: 0 5px 0 10px;
    font-size: 1rem;
    border: 1px dotted #aaa;
  }

  &::before {
    content: '👁️ 顯示';
    right: 90%;
    bottom: 60%;
  }

  &::after {
    content: '🙈 隱藏';
    top: 60%;
    right: 90%;
    border-color: transparent;
    opacity: 0.5;
  }

  position: relative;
  position: sticky;
  top: 15px;
  z-index: 1;
  display: inline-block;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 0 10px;
  background-color: #eefc;
  box-shadow: -60px 0 0 20px #eefc;
}

.copy-section {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  padding-left: .5em;
  padding-right: .5em;

  & > * {
    margin-left: .25em;
    margin-right: .25em;
  }
}

.copy {
  &::after {
    content: '(' attr(data-count) ')';
    padding-left: 3px;
  }
}

.checked-num {
  flex-grow: 1;
  max-width: 15em;
}
